body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #c6e2e2;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  height: 180px;
  display: inline-block;
  background-color: rgba(6, 53, 53, 0.114);
}

.card .card-image {
  width: 100px; /* Fixed width */
  height: 100px; /* Fixed height */
  border-radius: 50%; /* Make it circular */
  object-fit: cover; /* Ensure the image fills the space */
  margin-bottom: 10px;
}

.card .card-title {
  margin: 0; /* Remove default margin */
  color: hsla(186, 30%, 27%, 0.852);
  text-decoration: none;
}

.card .card-text {
  margin: 0; /* Remove default margin */
  color: hsla(186, 30%, 27%, 0.852);
  text-decoration: none;
}

.button{
  background-color: hsl(190, 65%, 18%);
  color: rgb(194, 236, 243);
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.openingInfo{
  background-color: hsla(186, 39%, 80%, 0.852);
  top: 0; 
  right: 0; /* Aligns it to the right */
  width: 250px; /* Fixed width for the sidebar */
  height: 100%; /* Full height of the viewport */
  padding: 20px; /* Add some padding */
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2); /* Optional shadow */
  overflow-y: auto;

}
.header {
  background-color: #009999d1; /* Teal background */
  color: #88ffff; /* Light Blue text */
  padding: 15px; /* Increased padding for spaciousness */
  text-align: center; /* Centered text */
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 3px; /* Softened corners */
}

.header h1 {
  margin: 0; /* Remove default margin */
  font-size: 2rem; /* Increased font size */
  font-weight: bold; /* Bold text */
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6cbcbc; /* Keep this color */
  color: #bfe4e4;
  padding: 5px; /* Adjusted padding */
  border: 1px solid hsl(0, 0%, 80%);;
  border-radius: 4px; /* Softened corners */
}

.nav-links {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 1rem; /* Updated margin for better spacing */
}

.nav-links a {
  font-weight: bold; /* Bold text */
  color: #196b6b; /* Link color */
  text-decoration: none;
  transition: color 0.3s; /* Smooth transition for hover */
}

.nav-links a:hover {
  color: #0f9696; /* Hover color */
}

